Q. 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [17]:
def show_the_love(l):
    a=0
    b=0
    l1=[]
    for i in range(len(l)):
        if(i!=min(l)):
            
            a=l[i]/4
            b=b+a
            l[i]=l[i]-a
    #print(l)
    l[l.index(min(l))]=b+min(l)
    return l

In [18]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [19]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [20]:
show_the_love([2, 100])

[27.0, 75.0]

2. Create a function that takes in two words as input and returns a list of three elements, in the following order:
1.Shared letters between two words. 2.Letters unique to word 1. 3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples:
letters("sharp", "soap") ➞ ["aps", "hr", "o"]
letters("board", "bored") ➞ ["bdor", "a", "e"]
letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]
letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
# Even with multiple matching letters (e.g. 3 f's), there should
# only exist a single "f" in your first element.
letters("match", "ham") ➞ ["ahm", "ct", ""]
# "ham" does not contain any letters that are not found already
# in "match".

In [27]:
def letters(s1,s2):
    s1_set=set(s1)
    s2_set=set(s2)
    l=[]
    l.append(''.join(s1_set-s2_set))
    l.append(''.join(s2_set-s1_set))
    l.append(''.join(s1_set & s2_set))
    return l

In [29]:
letters("sharp", "soap")

['rh', 'o', 'asp']

In [30]:
letters("board", "bored")

['a', 'e', 'robd']

In [31]:

letters("happiness", "envelope")

['ahis', 'lov', 'nep']

In [32]:

letters("kerfuffle", "fluffy")

['rke', 'y', 'luf']

3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.
Examples:
pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]
pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]
pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]
pairs([]) ➞ []

In [61]:
def pairs(l):
    out_list=[]
    while True:
        if(len(l)>0):
            if(len(l)==1):
                out_list.append([l[0],l.pop(0)])
            else:
                out_list.append([l.pop(0),l.pop(-1)])
        else:
            break
    return out_list

In [62]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [63]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [64]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [65]:
pairs([])

[]

4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.
Examples:
add_str_nums("4", "5") ➞ "9"
add_str_nums("abcdefg", "3") ➞ "-1"
add_str_nums("1", "") ➞ "1"
add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [72]:
def add_str_nums(a,b):
    a=a if(len(a)>0) else "0"
    b=b if(len(b)>0) else "0"
    if((a.isdigit()==False) or (b.isdigit()==False)):
        result=-1
    else:
        result=int(a)+int(b)
    return str(result)

In [73]:
add_str_nums("4", "5")

'9'

In [74]:
add_str_nums("abcdefg", "3")

'-1'

In [75]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!
Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples:
unmix("123456") ➞ "214365"
unmix("hTsii s aimex dpus rtni.g") ➞ "This is a mixed up string."
unmix("badce") ➞ "abcde"

In [79]:
def unmix(a):
    output=''.join([a[x:x+2][::-1] for x in range(0,len(a),2)])
    return output

In [80]:
unmix("123456")

'214365'

In [81]:
unmix("hTsii s aimex dpus rtni.g")

'This i siaem xpdsur nt.ig'